@font-face {
            font-family: sansation;
            src: url(profonts/SansationLight.woff);
         }
@font-face {
      font-family: dakota;
      src:url(profonts/dakota_update.ttf);
}
@font-face {
      font-family: rounD;
      src: url(profonts/RounD-Regular.ttf);
}
@font-face{
      font-family: prod;
      src:url(profonts/Product Sans Regular.ttf);
}
@font-face{
      font-family: nikoleta;
      src:url(profonts/NIKOLETA.ttf);
}
@font-face{
      font-family: mona;
      src:url(profonts/Mona-Free.woff);
      font-stretch: expanded;
}
@font-face{
      font-family: belda ;
      src:url(profonts/insigne - Belda Norm Regular.otf);
}
@font-face{
    font-family: architex;
    src:url(profonts/Architex.ttf);
}
@font-face{
  font-family: goodtimes;
  src:url(profonts/good times rg.ttf);
}
body{margin:0;padding:0;overflow-x: hidden;background-image: url(Blog-3.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%;width: 100%;background-attachment: fixed;padding: 5% 9% 10% 2%;}
h1{color:teal;position:relative;left:220px;top:50px;font-family:sansation}
div#log{height: 1200px;width: 700px;background-color: snow;opacity: 0.7;margin: 100px;position: relative;top: 0px;left: 180px;box-shadow: 10px 10px 10px;}
form{position: relative;top: 100px;left: 100px;font-family: sansation;font-size: 20px;}
input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-shadow: 10px 10px 10px;
}
button{background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;cursor: pointer;width: 70%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
span.psw {
    position: relative;
    left: 250px;
    padding-top: 16px;
}
span{color: red;font-size: 15px;}
